<div class="container">
    <div align="center" id="part1">
        <img src="https://zerodha.com/static/images/landing.png" width="62%" >
        
        <h1><p>Invest in everything</p></h1>
        <h5>Online platform to invest in stocks, derivatives, mutual funds, ETFs, bonds, and more.</h5>
        <input id="btn" class="btn btn-primary" type="button" value="SignUp for free">
    </div>

    <div id="part2">
     <div>
<h1>Trust with confidence</h1><br><br>
<h3>Customer-first always</h3>
<p>That's why 1.5+ crore customers trust Zerodha with ₹4.5+ lakh crores of equity investments and contribute to 15% of daily retail exchange volumes in India.</p><br><br>
<h3>No spam or gimmicks</h3>
<p>No gimmicks, spam, "gamification", or annoying push notifications. High quality apps that you use at your pace, the way you like.</p><br><br>
<h3>The Zerodha universe</h3>
<p>Not just an app, but a whole ecosystem. Our investments in 30+ fintech startups offer you tailored services specific to your needs.</p><br><br>
<h3>Do better with money</h3><p>With initiatives like <a  style="color: #387ed1;">Nudge</a> and <a style="color: #387ed1;">Kill switch</a>, we don't just facilitate transactions, but actively help you do better with your money.</p>
     </div>
<div id="kite">
    <img src="https://zerodha.com/static/images/ecosystem.png" width="100%"><br>
    <div align="center"><a class="btn" style="color: #387ed1;"  href="#">Explore our products -></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#" class="btn" style="color: #387ed1;" >Try kite demo -></a></div>
</div>

    </div>
<br><br>
    <div id="part3" align="center">
        <a href=""><img src="https://zerodha.com/static/images/press-logos.png"></a>
    </div><br><br><br>
    <div id="part4">
       <div id="price">
           <h1>Unbeatable pricing</h1>
           <p>We pioneered the concept of discount broking and price transparency in India. Flat fees and no hidden charges.</p>
           <a href="#" class="btn" style="color: #387ed1;" >See pricing -></a>
       </div>
       <div class="pricing">
            
                 <img src="https://zerodha.com/static/images/pricing-eq.svg" width="120px"><span>Free account
                    opening</span>
           
           
                <img src="https://zerodha.com/static/images/pricing-eq.svg" width="120px"><span>Free equity delivery
                    and direct mutual funds</span>
            
                <img src="https://zerodha.com/static/images/other-trades.svg" width="120px"><span>Intraday and
                    F&O</span>
            
        </div>

    </div>







    <div></div>
    <div></div>
</div>

